body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    color: #ffffff;
    font-family: Jazz;
}

header .title {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 10px;
}

header h3 {
    margin-left: 10px;
    position: relative;
    top: 10px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    padding-bottom: 60px;
    background: #eeecec;
    font-family: 'Times New Roman', Times, serif;
}

#home {
    padding: 20px; 
}

#home-content {
    display: flex;
    justify-content: space-between;
}

.introduction, .list-instruction {
    width: 55%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.introduction p1 {
    font-family: cursive;
    margin: 180px;
}

.list-instruction {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list-instruction h3 {
    font-family: 'Times New Roman', Times, serif;
}

section {
    margin: 20px 0;
    padding: 20px;  
    border-radius: 8px; 
    box-shadow: 0 0 10px #565a58;
}

h2, h1, h3 {
    text-align: center;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
}

.calculator .left-side, 
.calculator .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator div {
    margin: 10px 0;
}

.calculator label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}

.calculator input[type="text"] {
    width: 250px; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.calculator-buttons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

button.calcular, 
button.limpar {
    padding: 10px;
    width: 100px;
    border: 1;
    cursor: pointer;
    border-radius: 10px;
    gap: 20px;
}

button.calcular {
    background: #4CAF50;
    color: #fff;
}

button.limpar {
    background: #f44336;
    color: #fff;
}

.resultados {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px; 
    gap: 10px; 
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
}

.output {
    margin-bottom: 10px;
}

.noticias h3, p {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.noticias p {
    margin-bottom: 30px;
    margin-top: 10px;
}

#noticias-informacoes {
    display: flex;
    justify-content: space-between;
}

.juros-compostos, .aliquota {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.juros-compostos ul {
    padding-left: 50px;
}

.aliquota ul {
    padding-left: 100px;
}

#tabela-explicacao {
    display: flex;
    justify-content: space-between;
}

.tabela {
    padding: 10px;
}

.explanation {
    width: 700px;
    padding-top: 80px;
}


table { 
    width: 700px; 
    border-collapse: collapse; 
    margin-bottom: 10px;
    margin: 0 auto 10px auto; 
} 

table, th, td { 
    border: 1px solid #ddd; 
} 

th, td { 
    padding: 10px; 
    text-align: center; 
} 

th { 
    background-color: #252525; 
    color: white; 
}

.explanation p {
    text-align: justify;
    margin-bottom: 5px; 
    text-align: center;
}

.box-info {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}
.box-info-single {
    display: center;
    justify-content: space-between;
    width: 200px;
    border-radius: 30px;
    padding: 3px;
    background-color: #252525;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    width: 100%;
    bottom: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

  #bar-chart {
    width: 800px;
    height: 300px;
    position: relative;
  }
  #line-chart {
    width: 800px;
    height: 300px;
    position: relative;
  }
  #bar-chart::before, #line-chart::before {
    content: "";
    position: absolute;
    display: block;
    width: 240px;
    height: 30px;
    left: 155px;
    top: 254px;
  }
